<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/daily.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="container">
        <div class="switch-container">
            <div class="switch">
                <div id="tasks-btn" class="tasks">tasks</div>
                <div class="daily">daily</div>
            </div>
        </div>

        <img src="../static/img/daily.png" alt="" class="daily-img">
        <div class="text">
            <h1 class="daily-reward">DAILY REWARD</h1>
            <p class="info-text">Log in without missing a day to earn as much $LAMA as possible</p>
        </div>

        <div class="list-container">
            <div class="wrap">
                <div class="day left">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day right">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day left">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day right">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day left">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
            <div class="wrap">
                <div class="day right">
                    <p class="day-text">Day 1</p>
                    <img src="../static/img/token.png" alt="" class="day-img">
                    <p class="reward">100</p>
                </div>
            </div>
        </div>

        <div class="btn-wrap">
            <div class="btn-border">
                <button class="claim">CLAIM</button>
            </div>
        </div>
    
        <div class="days"></div>
    </div>

    <script src="../static/js/daily.js"></script>
</body>
</html>