<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/friends.css">
    <title>Friends</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <h1>1 friend</h1>
    <p>Every time your fried claims LAMA you get 20% cashback</p>
    <h3>my friends</h3>
    <div class="list">
        {% for key, value in data.items() %}
        <div class="item">
            <div class="referral">
                <img src="../static/img/anon.png" alt="" class="userpic">
                <span class="nickName">{{ value["name"] }}</span>
            </div>
            <div class="sum">
                <span class="num">{{ value["revenue"] }}</span>
                <img src="../static/img/token.png" alt="" class="token">
            </div>
        </div>
        {% endfor %}
        <!-- <div class="item">
            <div class="referral">
                <img src="../static/img/anon.png" alt="" class="userpic">
                <span class="nickName">nick_name</span>
            </div>
            <div class="sum">
                <span class="num">0.83</span>
                <img src="../static/img/token.png" alt="" class="token">
            </div>
        </div>
        <div class="item">
            <div class="referral">
                <img src="../static/img/anon.png" alt="" class="userpic">
                <span class="nickName">nick_name</span>
            </div>
            <div class="sum">
                <span class="num">0.83</span>
                <img src="../static/img/token.png" alt="" class="token">
            </div>
        </div> -->
    </div>

    <script src="../static/js/friends.js"></script>
</body>
</html>