<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/friends.css">
    <title>Friends</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <h1>1 friend</h1>
    <p class="desc">Every time your fried claims LAMA you get 20% cashback</p>
    <h3>my friends</h3>
    <div class="list">
        {% for key, value in data.items() %}
        <div class="item">
            <div class="referral">
                <img src="../static/img/anon.png" alt="" class="userpic">
                <span class="nickName">{{ value["name"] }}</span>
            </div>
            <div class="sum">
                <span class="num">{{ value["revenue"] }}</span>
                <img src="../static/img/token.png" alt="" class="token">
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- <div class="btn-wrap"> -->
        <button id="invite-btn" class="invite-btn">INVITE FRIEND</button>
    <!-- </div> -->

    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <img class="rect" src="../static/img/rect.png" alt="">
            <img class="popup-img" src="../static/img/hands.jpg" alt="">
            <p class="popup-header">FRIENDSHIP BONUS</p>
            <p class="popup-desc">Your referral link:</p>
            <p class="ref-link" id="ref-link"></p>
            <button id="copy-btn" class="popup-btn">COPY LINK</button>
        </div>
    </div>

    <script src="../static/js/friends.js"></script>
</body>
</html>