<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/friends.css">
    <title>Document</title>
</head>
<body>
    <h1>1 friend</h1>
    <p>Every time your fried claims LAMA you get 10% cashback</p>
    <h3>my friends</h3>
    <div class="list">
        <div class="item">
            <img src="../static/img/anon.png" alt="" class="userpic">
            <span class="nickName">nick_name</span>
            <span class="num">0.83</span>
            <img src="../static/img/token.png" alt="" class="token">
        </div>
        <div class="item">
            <img src="../static/img/anon.png" alt="" class="userpic">
            <span class="nickName">nick_name</span>
            <span class="num">0.83</span>
            <img src="../static/img/token.png" alt="" class="token">
        </div>
        <div class="item">
            <img src="../static/img/anon.png" alt="" class="userpic">
            <span class="nickName">nick_name</span>
            <span class="num">0.83</span>
            <img src="../static/img/token.png" alt="" class="token">
        </div>
    </div>
</body>
</html>