<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem delectus adipisci nam totam atque suscipit nostrum eius, reiciendis magnam quam nisi numquam incidunt saepe modi dolore provident inventore! Ea quod id similique sapiente deleniti aut quibusdam commodi quisquam consectetur in perferendis voluptate odit perspiciatis non molestiae illum, quidem dolore, suscipit officiis cupiditate! Deleniti expedita exercitationem magnam assumenda quasi molestias dignissimos natus cumque, magni reprehenderit. Sint, distinctio explicabo. Distinctio excepturi tempore recusandae, officia deleniti officiis unde totam cum repellendus facilis laborum est reiciendis voluptatem aut, sit atque quod fugiat veritatis qui, earum illo? Cumque eum debitis iure eligendi id adipisci porro?</p>
    </div>
</body>
</html>