<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/swap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h2>claim your</h2>
        <h1>REWARD</h1>
    </div>
    <div class="items">
        <div class="item one">
            <p class="you">You send</p>
            <div class="info">
                <span class="number">98564232</span>
                <div class="token">
                    <span class="name">B-Lama</span>
                </div>
            </div>
        </div>
        <img src="../static/img/arrows.png" alt="arrows" class="arrows">
        <div class="item two">
            <p class="you">You receive</p>
            <div class="info">
                <span class="number">98564232</span>
                <div class="token">
                    <span class="name">G-Lama</span>
                </div>
            </div>
            <p class="ratio">1 B-Lama ≈ 0.009 G-Lama</p>
        </div>
    </div>
    <div class="btn-wrap">
        <button class="swap-btn">SWAP NOW</button>
    </div>
    <div class="explanation">
        <p class="en">* All your tokens from the bot give you an advantage in the game. Exchange all of it and start farming our in-game currency which is gonna be exchanget to actual $LAMA tokens.</p>
    </div>
</body>
</html>