<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tasks.css">
    <title>Document</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init()</script> -->
</head>
<body>
    <div class="container">
        <div class="switch-container">
            <div class="switch">
                <div class="tasks">tasks</div>
                <div id="daily-btn" class="daily">daily</div>
            </div>
        </div>
        <img class="token" src="../static/img/tasks-token.png" alt="">
        <h1 class="missions-available">MISSIONS AVAILABLE</h1>
        <div class="tasks-list">
            {% if data != None %}
                {% for key, value in data.items() %}
                    <a href="#" class="item-link">
                        {% if value['is_done'] %}
                        <div class="item done" id="{{ value['task_id'] }}">
                            <img class="item-img" src='{{ value["img_link"] }}' alt="">
                            <div class="item-text">
                                <p class="follow">{{ value["description"] }}</p>
                                <p class="channel-name">{{ value["name"] }}</p>
                                <div class="price">
                                    <img src="../static/img/token.png" alt="" class="price-img">
                                    <span>{{ value["reward"] }}</span>
                                </div>
                            </div>
                            <img src="../static/img/done.png" alt="" class="go">
                        </div>
                        {% else %}
                        <div class="item active" id="{{ value['task_id'] }}">
                            <img class="item-img" src='{{ value["img_link"] }}' alt="">
                            <div class="item-text">
                                <p class="follow">{{ value["description"] }}</p>
                                <p class="channel-name">{{ value["name"] }}</p>
                                <div class="price">
                                    <img src="../static/img/token.png" alt="" class="price-img">
                                    <span>{{ value["reward"] }}</span>
                                </div>
                            </div>
                            <img src="../static/img/go.png" alt="" class="go">
                        </div>
                        {% endif %}
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <script src="../static/js/tasks.js"></script>
</body>
</html>