<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/upgrade.css">
    <title>Upgrade</title>
</head>
<body>
    <h2>your balance:</h2>
    <div class="balance">
        <img src="../static/img/token.png" alt="">
        <span>55697</span>
    </div>
    <div class="tapPower">
        <img src="" alt="">
        <p>Tap Power</p>
        <p>2900</p>
    </div>
</body>
</html>