body {
    font-family: "Noto Sans";
    display: flex;
}

.block {
    padding: 3%;
    margin: 2%;
    text-align: center;
    /* display: inline-block; */
    border: 2px dashed;
}


.submit-btn {
    font-size: 200%;
}


@media (max-width: 1250px) {
    body {
        flex-direction: column;
    }
}
  
