@import url("reset.css");

@font-face {
    font-family: "Halogen";
    src: url("../font/halogen.woff2");
}

@font-face {
    font-family: "Hugmate";
    src: url("../font/hugmate.woff2");
}

body {
    background: linear-gradient(#FED9FF, #FACEFF);
}

.container {
    padding-top: 6%;
    height: 100%;
}

.switch-container {
    text-align: center;
}

.switch {
    background-color: rgba(182, 132, 203, 25%);
    display: inline;
    font-family: "Halogen";
    text-transform: uppercase;
    font-size: 200%;
    padding: 3% 1.5%;
    border-radius: 20px;
}
.switch div {
    display: inline-block;
    padding: 1% 2%;
    border-radius: 20px;
}

.daily {
    width: 29%;
    background-color: rgba(255, 255, 255, 25%);
}

.tasks {
    color: rgba(0, 0, 0, 40%);
}

.daily-img {
    display: block;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.text {
    margin-top: 4%;
    text-align: center;
    padding: 0 15%;
}

.daily-reward {
    font-family: "Hugmate";
    font-size: 130%;
}

.info-text {
    font-family: "Halogen";
    font-size: 100%;
}

.list-container {
    text-align: center;
    margin-top: 7%;
}

.wrap {
    display: inline-block;
    height: 20%;
    width: 22%;
    border: 3px solid black;
    border-radius: 23px;
    margin-top: 2%;
    margin-right: 0.5%;
    padding-bottom: 1.4%;
    border-color: white;
}
.wrap.active {
    border: 2px dashed #53D8FB;
    animation: borderAnimation;
    position: relative;
}
.wrap.passive {
    opacity: 0.5;
}

.day {
    display: inline-block;;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    font-family: "Halogen";
    padding: 2%;
    box-shadow: 0 5px 0 #CDBED1, 0 10px 15px rgba(0, 0, 0, 0.1);
}

.day-img {
    width: 40%;
}

.btn-wrap {
    text-align: center;
    padding-top: 10%;
}

.btn-border {
    border: 6px solid white;
    border-radius: 26px;
    padding-bottom: 1.2%;
    display: inline-block;
    width: 50%;
    background-color: white;
}

.claim {
    font-family: "Hugmate";
    font-size: 250%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: 0 5px 0 #ccc, 0 10px 15px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: white;
    display: inline-block;
    width: 100%;
}
.claim.disabled {
    opacity: 0.5;
}

.claim:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #ccc, 0 5px 10px rgba(0, 0, 0, 0.1);
}

@keyframes borderAnimation {
    0% {
      background-position: left top, right top, right bottom, left bottom;
    }
    25% {
      background-position: right top, right top, right bottom, right bottom;
    }
    50% {
      background-position: right bottom, right bottom, left bottom, left bottom;
    }
    75% {
      background-position: left bottom, left bottom, left top, left top;
    }
    100% {
      background-position: left top, right top, right bottom, left bottom;
    }
}